---
---

<!DOCTYPE html>
<html lang="de">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
  {% include header.html %}
  {% include about.html %}
  <h2>Willkommen!</h2>
  <h3>Momentan entwickle ich meine Seite neu</h3>
    Mein name ist Klaus und ich bin Junior Entwickler mit Schwerpunkt Webingenieur.<br>
     <p>
       Gerne kann ich bei Ihren Projekten behilflich sein. Schreiben Sie mich einfach an.<br>
       Vielen Dank für Ihren Besuch.
     </p>
     <p>
       <a href="http://facebook.com/ksxok/"><img class="spotlight" title="Klaus Schlender" src="/assets/img/profilbild.jpg" /></a>
     </p>

  {% include footer.html %}
<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
