<section>
  <h3>Über Mich</h3>
  <div class="face-lockup">
    <div class="face-img">
    </div>
    <div class="icon-one">
     {% include icons/icon-embed2.html %}
    </div>
    <div class="icon-two">
      {% include icons/icon-bubbles4.html %}
    </div>
    <div class="icon-three">
      <div style="align-items: center">
        {% include icons/icon-list2.html %}
      </div>

    </div>
    <div class="icon-four">
      {% include icons/icon-bullhorn.html %}
    </div>
  </div>

  <div class="blurb">
    <p>
      <strong>Ich heiße Klaus Schlender und bin leidenschaftlicher Webentwickler.</strong>
        Studiert habe ich Informatik und freue mich auf eine gute Zusammenarbeit,
        gerne auch mit neuen Geschäftskunden.
    </p>
  </div>

  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label">Kommunikation &amp; Organisation
      </div>
      <div class="skill-icons  skill-12">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Auffasung &amp; Unterrichten
      </div>
      <div class="skill-icons  skill-13">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Planung &amp; Durchf&uuml;hrung
      </div>
      <div class="skill-icons  skill-12">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Programmierung &amp; Qualit&auml;tssicherheit
      </div>
      <div class="skill-icons skill-13">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"> Webengineering &amp; Softwareentwicklung
      </div>
      <div class="skill-icons skill-14">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Sicherheit &amp; Zuverl&auml;ssigkeit von Systemen
      </div>
      <div class="skill-icons skill-11">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Computergrafik &amp; K&uuml;nstliche Intelligenz
      </div>
      <div class="skill-icons  skill-14">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Mobile Applikationen &amp; Cross-Platform-Development
      </div>
      <div class="skill-icons  skill-12">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Betriebssysteme &amp; Server
      </div>
      <div class="skill-icons skill-10">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">BWL &amp; Informatik
      </div>
      <div class="skill-icons  skill-9">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

  </div>

  <div class="">
    <p>
      Während meiner Studienzeit habe ich mich im
      Bereich des Web Engineerings vertieft und dabei an Projekten gearbeitet,
      worin ich auch interdisziplinär Konzepte abgestimmt und eine Software
      entwickelt habe. Studiert habe ich an der FH Bielefeld University of Applied
      Science am Campus Minden und mich nach dem Grundstudium in
      den Bereichen Sicherheit und Zuverlässigkeit von Systemen, Computergrafik,
      Künstliche Intelligenz, Komponentenbasierte Softwareentwicklung, Mobile
      Applikationen und Webengineering vertieft. Im Bereich Webengineering lag
      mein Schwerpunkt in den Web-Technologien Java Platform Enterprise Edition
      7 und Java Server Faces. Des Weiteren konnte ich Kenntnisse in Mobile
      Applikationen erwerben und durch den Einsatz von Cross-Plattform-Development
      Frameworks eigene Open GL Applikationen entwickeln. Darüber hinaus verfüge
      ich durch meine vorhergehende abgeschlossene Ausbildung und Selbstständigkeit
      über sehr gute BWL- und IT-Kenntnisse. Absolute Zuverlässigkeit, eine gute
      Auffassungsgabe, Engagement und Flexibilität dürfen Sie ebenso voraussetzen,
      wie die Bereitschaft mich auf Neues einzustellen. Mein Portfolio und
      Berufserfahrung runden mein Profil insgesamt ab, sodass Sie mit mir einen
      engagierten und freundlichen Endwickler für Ihr Projekt gewinnen.
    </p>
  </div>
</section>
